# ðŸ“˜ Pandas Indexing & Selection Cheatsheet

This notebook provides a complete guide and examples for commonly used Pandas DataFrame indexing and selection techniques:

- `loc[]`, `iloc[]`
- `at[]`, `iat[]`
- `get_loc()`
- And related commands for data analysis.

In [1]:
# âœ… Importing pandas
import pandas as pd

# âœ… Sample DataFrame for all operations
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Score': [88, 92, 95]
}
df = pd.DataFrame(data, index=[1001, 1002, 1003])
df

         Name  Age  Score
1001    Alice   25     88
1002      Bob   30     92
1003  Charlie   35     95

In [2]:
# âœ… df.loc[] â€” Label-based selection
# Accessing rows and columns using labels
print(df.loc[1001])                          # Row with index label 1001
print(df.loc[1002, 'Name'])                  # Value at label 1002 and column 'Name'
print(df.loc[1001:1003, ['Age','Score']])    # Multiple rows and specific columns
print(df.loc[df['Age'] > 25])                # Rows where age is greater than 25

Name     Alice
Age         25
Score       88
Name: 1001, dtype: object
Bob
      Age  Score
1001   25     88
1002   30     92
1003   35     95
         Name  Age  Score
1002      Bob   30     92
1003  Charlie   35     95

In [3]:
# âœ… df.iloc[] â€” Integer-location based selection
# Accessing rows and columns using integer indices
print(df.iloc[0])                   # First row
print(df.iloc[1, 1])                # 2nd row, 2nd column (Age of Bob)
print(df.iloc[0:2, 0:2])            # Rows 0 and 1, Columns 0 and 1
print(df.iloc[[0, 2], [1, 2]])      # Rows 0 and 2, Columns 1 and 2

Name     Alice
Age         25
Score       88
Name: 1001, dtype: object
30
       Name  Age
1001  Alice   25
1002    Bob   30
      Age  Score
1001   25     88
1003   35     95

In [4]:
# âœ… df.at[] â€” Fast scalar access (label-based)
# Optimized for single value access using labels
print(df.at[1002, 'Score'])         # Score of Bob (label-based access)

92

In [5]:
# âœ… df.iat[] â€” Fast scalar access (position-based)
# Optimized for single value access using integer indices
print(df.iat[2, 2])                 # Score of Charlie (position-based)

95

In [6]:
# âœ… df.columns.get_loc() and df.index.get_loc()
# Used to find the index position of a label

col_index = df.columns.get_loc("Score")
print("Column index for 'Score':", col_index)

row_pos = df.index.get_loc(1003)
print("Row index position for label 1003:", row_pos)

Column index for 'Score': 2
Row index position for label 1003: 2

In [7]:
# ðŸ” Other related indexing and selection methods
print(df.head(2))            # First 2 rows
print(df.tail(1))            # Last row
print(df.sample(2))          # Random 2 rows

print(df.set_index('Name'))  # Set 'Name' as index
print(df.reset_index())      # Reset index to default integer index

print(df['Age'])             # Access column 'Age'
print(df[['Age', 'Score']])  # Access multiple columns

print(df.iloc[:, 0])         # First column using iloc
print(df.loc[:, 'Name'])     # Column selection using loc

print(df.query('Age > 25'))  # Query with string condition

       Name  Age  Score
1001  Alice   25     88
1002    Bob   30     92
         Name  Age  Score
1003  Charlie   35     95
       Name  Age  Score
1002    Bob   30     92
1001  Alice   25     88
         Age  Score
Name
Alice     25     88
Bob       30     92
Charlie   35     95
   index     Name  Age  Score
0   1001    Alice   25     88
1   1002      Bob   30     92
2   1003  Charlie   35     95
1001    25
1002    30
1003    35
Name: Age, dtype: int64
      Age  Score
1001   25     88
1002   30     92
1003   35     95
1001      Alice
1002        Bob
1003    Charlie
Name: Name, dtype: object
1001      Alice
1002        Bob
1003    Charlie
Name: Name, dtype: object
         Name  Age  Score
1002      Bob   30     92
1003  Charlie   35     95